{% extends "bootstrap/base.html" %}

{% block title %}
    {% block main_title %}
    {% endblock %} - Regressus
{% endblock %}
{% block navbar %}
    {% include "resources/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
                <button type="button" class="close", data-dismiss="alert">&times;</button>
                {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}